openapi: 3.0.2
info:
  description: An OpenAPI specifications for unit-sdk clients
  title: Unit OpenAPI specifications
  version: 0.3.0
servers:
- url: https://api.s.unit.sh
security:
- bearerAuth: []
paths:
  /applications/{applicationId}:
    get:
      description: 'Get an Application from API '
      operationId: getApplication
      parameters:
      - description: ID of the application to get
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: included
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitApplicationResponseWithIncluded'
          description: Successful Response
      summary: Get Application by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update an Application via API '
      operationId: updateApplication
      parameters:
      - description: ID of the application to update
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
        description: Update Application Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitApplicationResponseWithIncluded'
          description: Successful Response
      summary: Update Application
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/cancel:
    post:
      description: 'Cancel a Application via API '
      operationId: cancelApplication
      parameters:
      - description: ID of the application to get
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/Cancel_Application_Request'
        description: Cancel Application Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Unit_Cancel_Application_Response'
          description: Successful Response
      summary: Cancel Application by Id
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /applications:
    get:
      description: 'Get List Applications from API '
      operationId: getApplicationsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getApplicationsList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Unit_List_Applications_Response'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Get List Application
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json
      - application/vnd.api+json; charset=utf-8
    post:
      description: 'Create an Application via API '
      operationId: createApplication
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
        description: Create Application Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Unit_Create_Application_Response'
          description: Successful Response
      summary: Create Application
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /application-forms:
    get:
      description: 'Get List Application Forms from API '
      operationId: getApplicationFormsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getApplicationFormsList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Application_Forms_List_Response'
          description: Successful Response
      summary: Get List Application Forms
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: 'Create an Application Form via API '
      operationId: createApplicationForm
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateApplicationFormRequest'
        description: Create Application Form Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Unit_Application_Form_Response'
          description: Successful Response
      summary: Create Application Form
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /applications/{applicationId}/documents/{documentId}/multipart:
    put:
      operationId: uploadApplicationDocumentFile
      parameters:
      - description: ID of the application to upload a file to
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the document to upload a file for
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadApplicationDocumentRequest'
        description: An application document file
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDocumentResponse'
          description: Successful Response
      summary: "Upload an application document file. Supports PDF, PNG and JPG files"
      tags:
      - unit
      x-content-type: multipart/form-data
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/back/multipart:
    put:
      description: "Upload an application file via API - Back Side. Supports PDF,\
        \ PNG and JPG files"
      operationId: uploadApplicationDocumentFileBackSide
      parameters:
      - description: ID of the application to upload a file to
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the document to upload a file for
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadApplicationDocumentRequest'
        description: "Upload an application document file - Back Side. Supports PDF,\
          \ PNG and JPG files"
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDocumentResponse'
          description: Successful Response
      summary: "Upload an application document file - Back Side. Supports PDF, PNG\
        \ and JPG files"
      tags:
      - unit
      x-content-type: multipart/form-data
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents:
    get:
      description: 'Get List of Documents via API '
      operationId: getApplicationDocuments
      parameters:
      - description: ID of the application to get documents for
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_List_Documents_Response'
          description: Successful Response
      summary: Get List of Documents
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: Create an application document via API
      operationId: createApplicationDocument
      parameters:
      - description: ID of the application to create a file for
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: "A workaround to properly assign the content type for the request\
          \ body while providing no body, just set the one possible enum value"
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          $ref: '#/components/schemas/DefaultContentType'
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDocumentResponse'
          description: Successful Response
      summary: Create an application document
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/verify:
    put:
      description: 'Verify a document via API '
      operationId: verifyApplicationDocument
      parameters:
      - description: ID of the application to verify a file for
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the document to verify
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Verify_Document'
        description: Verify Document
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDocumentResponse'
          description: Successful Response
      summary: Verify a document
      tags:
      - unit
      x-content-type: application/json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/download:
    get:
      description: 'Download a Document via API '
      operationId: downloadApplicationDocument
      parameters:
      - description: ID of the application
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the document to download
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Successful Response
      summary: Download a Document
      tags:
      - unit
      x-accepts:
      - application/octet-stream
  /applications/{applicationId}/documents/{documentId}/download/back:
    get:
      description: Download a Document - Back Side via API
      operationId: downloadApplicationBackSideDocument
      parameters:
      - description: ID of the application
        explode: false
        in: path
        name: applicationId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the document to download
        explode: false
        in: path
        name: documentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Successful Response
      summary: Download a Document - Back Side
      tags:
      - unit
      x-accepts:
      - application/octet-stream
  /application-forms/{applicationFormId}:
    get:
      description: 'Get an Application Form from API '
      operationId: getApplicationForm
      parameters:
      - description: ID of the application form to get
        explode: false
        in: path
        name: applicationFormId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: included
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Application_Form_Response_With_Included'
          description: Successful Response
      summary: Get ApplicationForm by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /beneficial-owner/{beneficialOwnerId}:
    patch:
      description: Update a Business Beneficial Owner
      operationId: updateBusinessBeneficialOwner
      parameters:
      - description: ID of the beneficial owner to update
        explode: false
        in: path
        name: beneficialOwnerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessBeneficialOwnerRequest'
        description: Update Business Beneficial Owner Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitBeneficialOwnerResponse'
          description: Successful Response
      summary: Update a Business Beneficial Owner via API
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /accounts:
    get:
      description: 'Get List Accounts from API '
      operationId: getAccountsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getAccountsList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Accounts_List_Response'
          description: Successful Response
        "401":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Get List Accounts
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: 'Create Account via API '
      operationId: createAccount
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
        description: Create Account Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Create Account
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /accounts/{accountId}:
    get:
      description: 'Get an Account from API '
      operationId: getAccount
      parameters:
      - description: ID of the account to get
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponseWithIncluded'
          description: Successful Response
      summary: Get Account by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update an Account via API '
      operationId: updateAccount
      parameters:
      - description: ID of the account to update
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
        description: Update Account Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Update Account
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
      - application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/limits:
    get:
      description: 'Get Account Limits from API '
      operationId: getAccountLimits
      parameters:
      - description: ID of the account to get
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Get_Account_Limits_Response'
          description: Successful Response
      summary: Get Account Limits by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/unfreeze:
    post:
      description: 'Unfreeze an Account via API '
      operationId: unfreezeAccount
      parameters:
      - description: ID of the account to get
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Unfreeze Account by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/freeze:
    post:
      description: 'Freeze Account via API '
      operationId: freezeAccount
      parameters:
      - description: ID of the account to freeze
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/FreezeAccountRequest'
        description: Freeze Account Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Freeze Account by Id
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/close:
    post:
      description: 'Close an Account via API '
      operationId: closeAccount
      parameters:
      - description: ID of the account to close
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CloseAccountRequest'
        description: Close Account Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Close an Account by Id
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/reopen:
    post:
      description: 'Reopen an Account via API '
      operationId: reopenAccount
      parameters:
      - description: ID of the account to close
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Reopen an Account by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/enter-daca:
    post:
      description: 'Enter Control Agreement for Account via API '
      operationId: enterControlAgreementForAccount
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Enter Account Control Agreement by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/activate-daca:
    post:
      description: 'Activate Control Agreement for Account via API '
      operationId: activateControlAgreementForAccount
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Activate Account Control Agreement by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/deactivate-daca:
    post:
      description: Deactivate Control Agreement for Account via API
      operationId: deactivateControlAgreementForAccount
      parameters:
      - description: ID of the account
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        "404":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Deactivate Account Control Agreement by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /account-end-of-day:
    get:
      description: 'Get Account Balance History List from API '
      operationId: getAccountBalanceHistory
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getAccountBalanceHistory_filter_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Account_Balance_History_Response'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Get Account Balance History
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/repayment-information:
    get:
      description: Retrieve the repayment information for a specific account via API
      operationId: getRepaymentInformation
      parameters:
      - description: ID of the account to get repayment information for
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRepaymentInformationResponse'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Get Repayment Information
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/deposit-products:
    get:
      description: Retrieve the list of available deposit products compatible to the
        account.
      operationId: getDepositProductsList
      parameters:
      - description: ID of the account to get deposit products for
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDepositProductsResponse'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Get Deposit Products
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/relationships/customers:
    delete:
      description: 'Remove Owners from Account via API '
      operationId: removeAccountOwners
      parameters:
      - description: ID of the account to add owners to
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RemoveAccountOwnersRequest'
        description: Remove Account Owners Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDepositAccountResponse'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Remove Owners from Account by Id
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: 'Add Owners to Account via API '
      operationId: addAccountOwners
      parameters:
      - description: ID of the account to add owners to
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AddAccountOwnersRequest'
        description: Add Account Owners Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDepositAccountResponse'
          description: Successful Response
        default:
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Add Owners to Account by Id
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /customers/{customerId}:
    get:
      description: 'Get a Customer from API '
      operationId: getCustomer
      parameters:
      - description: ID of the customer to get
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCustomerResponse'
          description: Successful Response
      summary: Get Customer by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update an Customer via API '
      operationId: updateCustomer
      parameters:
      - description: ID of the customer to update
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
        description: Update Customer Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCustomerResponse'
          description: Successful Response
      summary: Update Customer
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /customers:
    get:
      description: 'Get Customers List from API '
      operationId: getCustomersList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getCustomersList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Customers_List_Response'
          description: Successful Response
      summary: Get Customers List
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /customers/{customerId}/archive:
    post:
      description: 'Archive a Customer via API '
      operationId: archiveCustomer
      parameters:
      - description: ID of the customer to archive
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ArchiveCustomerRequest'
        description: Archive Customer Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCustomerResponse'
          description: Successful Response
      summary: Archive Customer by Id
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /customers/{customerId}/authorized-users:
    delete:
      description: Remove Authorized Users via API
      operationId: removeAuthorizedUsers
      parameters:
      - description: ID of the customer to remove authorized users from
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RemoveAuthorizedUsersRequest'
        description: Add Authorized Users Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCustomerResponse'
          description: Successful Response
      summary: Remove Authorized Users by Id
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: Add Authorized Users via API
      operationId: addAuthorizedUsers
      parameters:
      - description: ID of the customer to add authorized users to
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AddAuthorizedUsersRequest'
        description: Add Authorized Users Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCustomerResponse'
          description: Successful Response
      summary: Add Authorized Users by Id
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /payments:
    get:
      description: 'Get List Payments from API '
      operationId: getPaymentsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getPaymentsList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Payments_List_Response'
          description: Successful Response
      summary: Get List Payments
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Payment via API '
      operationId: createPayment
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
        description: Create Payment Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitPaymentResponse'
          description: Successful Response
      summary: Create a Payment
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /payments/{paymentId}:
    get:
      description: 'Get a Payment from API '
      operationId: getPayment
      parameters:
      - description: ID of the payment to get
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: included
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Payment_Response_With_Included'
          description: Successful Response
      summary: Get Payment by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update an Payment via API '
      operationId: updatePayment
      parameters:
      - description: ID of the payment to update
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentRequest'
        description: Update Payment Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitPaymentResponse'
          description: Successful Response
      summary: Update Payment
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /payments/{paymentId}/cancel:
    post:
      description: 'Cancel a Payment via API '
      operationId: cancelPayment
      parameters:
      - description: ID of the payment to cancel
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              nullable: true
              type: object
        description: Pass empty object in order for content-type to be aquired correctly
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitPaymentResponse'
          description: Successful Response
      summary: Cancel a Payment by Id
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /store-locations:
    get:
      description: 'Get Cash Deposit Store Locations List By Coordinates from API '
      operationId: getCashDepositStoreLocationsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getCashDepositStoreLocationsList_filter_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitStoreLocationsListResponse'
          description: Successful Response
      summary: Get Cash Deposit Store Locations List By Coordinates
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /cash-deposits/barcodes:
    post:
      description: 'Generate Cash Deposit Barcode via API '
      operationId: generateBarcode
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/GenerateBarcodeRequest'
        description: Generate Cash Deposit Barcode Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Unit_Cash_Deposit_Barcode_Response'
          description: Successful Response
      summary: Generate Cash Deposit Barcode
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /cash-deposits/barcodes/{barcodeNumber}/image:
    get:
      description: 'Get Barcode Image By Barcode Number from API '
      operationId: getBarcodeImage
      parameters:
      - explode: false
        in: path
        name: barcodeNumber
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: Successful Response
      summary: Get Barcode Image By Barcode Number
      tags:
      - unit
      x-accepts:
      - image/png
  /received-payments:
    get:
      description: 'Get Received Payments from API '
      operationId: getReceivedPaymentsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getReceivedPaymentsList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Received_Payment_List_Response'
          description: Successful Response
      summary: Get Received Payments List
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /returns/{transactionId}:
    post:
      description: 'Return Received ACH Transaction via API '
      operationId: returnReceivedACHTransaction
      parameters:
      - description: ID of the transaction to return
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ReturnReceivedACHTransactionRequest'
        description: Pass empty object in order for content-type to be aquired correctly
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitReturnedReceivedAchTransactionResponse'
          description: Successful Response
      summary: Return Received ACH Transaction
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /received-payments/{paymentId}:
    get:
      description: 'Get a Received Payment from API '
      operationId: getReceivedPayment
      parameters:
      - description: ID of the payment to get
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: included
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Received_Payment_Response_With_Included'
          description: Successful Response
      summary: Get Received Payment by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Received Payment via API '
      parameters:
      - description: ID of the payment to update
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateReceivedPaymentRequest'
        description: Update Received Payment Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitReceivedPaymentResponse'
          description: Successful Response
      summary: Update Received Payment
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /received-payments/{paymentId}/advance:
    post:
      description: 'Advance a Received Payment via API '
      operationId: advanceReceivedPayment
      parameters:
      - description: ID of the payment to advance
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitReceivedPaymentResponse'
          description: Successful Response
      summary: Advance Received Payment by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /received-payments/{paymentId}/reprocess:
    post:
      description: 'Reprocess a Received Payment via API '
      operationId: reprocessReceivedPayment
      parameters:
      - description: ID of the payment to advance
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitReceivedPaymentResponse'
          description: Successful Response
      summary: Reprocess Received Payment by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /counterparties:
    get:
      description: 'Get Counterparties List from API '
      operationId: getCounterpartiesList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getCounterpartiesList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Counterparties_List_Response'
          description: Successful Response
      summary: Get Counterparties List
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a counterparty via API '
      operationId: createCounterparty
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCounterpartyRequest'
        description: Create Counterparty Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCounterpartyResponse'
          description: Successful Response
      summary: Create Counterparty
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /counterparties/{counterpartyId}:
    delete:
      description: 'Delete Counterparty via API '
      operationId: deleteCounterparty
      parameters:
      - description: ID of the counterparty to delete
        explode: false
        in: path
        name: counterpartyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
      summary: Delete Counterparty by Id
      tags:
      - unit
      x-accepts:
      - application/json
    get:
      description: 'Get a Counterparty from API '
      operationId: getCounterparty
      parameters:
      - description: ID of the counterparty to get
        explode: false
        in: path
        name: counterpartyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCounterpartyResponse'
          description: Successful Response
      summary: Get Counterparty by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Counterparty via API '
      operationId: updateCounterparty
      parameters:
      - description: ID of the counterparty to update
        explode: false
        in: path
        name: counterpartyId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCounterpartyRequest'
        description: Update Counterparty Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCounterpartyResponse'
          description: Successful Response
      summary: Update Counterparty
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /counterparties/{counterpartyId}/balance:
    get:
      description: 'Get Recurring Payment from API '
      operationId: getCounterpartyBalance
      parameters:
      - description: ID of the counterparty to get
        explode: false
        in: path
        name: counterpartyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCounterpartyBalanceResponse'
          description: Successful Response
      summary: Get Counterparty Balance
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /recurring-payments:
    get:
      description: 'Get Recurring Payments List from API '
      operationId: getRecurringPaymentsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getRecurringPaymentsList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Recurring_Payment_List_Response'
          description: Successful Response
      summary: Get Recurring Payments List
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Recurring Payment via API '
      operationId: createRecurringPayment
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateRecurringPaymentRequest'
        description: Create Recurring Payment Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitRecurringPaymentResponse'
          description: Successful Response
      summary: Create Recurring Payment
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /recurring-payments/{paymentId}:
    get:
      description: 'Get Recurring Payment from API '
      operationId: getRecurringPayment
      parameters:
      - description: ID of the payment to get
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRecurringPaymentResponse'
          description: Successful Response
      summary: Get Recurring Payment
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /recurring-payments/{paymentId}/disable:
    post:
      description: 'Disable Recurring Payment via API '
      operationId: disableRecurringPayment
      parameters:
      - description: ID of the payment to disable
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              nullable: true
              type: object
        description: Pass empty object in order for content-type to be aquired correctly
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRecurringPaymentResponse'
          description: Successful Response
      summary: Disable Recurring Payment
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /recurring-payments/{paymentId}/enable:
    post:
      description: 'Enable Recurring Payment via API '
      operationId: enableRecurringPayment
      parameters:
      - description: ID of the payment to enable
        explode: false
        in: path
        name: paymentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              nullable: true
              type: object
        description: Pass empty object in order for content-type to be aquired correctly
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRecurringPaymentResponse'
          description: Successful Response
      summary: Enable Recurring Payment
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /cards:
    get:
      description: 'Get List of Cards from API '
      operationId: getCardsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getCardsList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardsListReponse'
          description: Successful Response
      summary: Get List of Cards
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Card via API '
      operationId: createCard
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCardRequest'
        description: Create Card Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Create a Card
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /cards/{cardId}:
    get:
      description: 'Get a Card from API '
      operationId: getCard
      parameters:
      - description: ID of the card to get
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: included
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponseWithIncluded'
          description: Successful Response
      summary: Get Card by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Card via API '
      operationId: updateCard
      parameters:
      - description: ID of the card to update
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCardRequest'
        description: Update Card Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Update Card
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /cards/{cardId}/secure-data/pin/status:
    get:
      description: 'Get Card PIN Status via API '
      operationId: getCardPinStatus
      parameters:
      - description: ID of the card to get PIN status
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitPinStatusResponse'
          description: Successful Response
      summary: Get Card PIN Status
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /cards/{cardId}/report-stolen:
    post:
      description: 'Report card as stolen via API '
      operationId: reportCardAsStolen
      parameters:
      - description: ID of the card
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Report card as stolen
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /cards/{cardId}/report-lost:
    post:
      description: 'Report lost as stolen via API '
      operationId: reportCardAsLost
      parameters:
      - description: ID of the card
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Report lost as stolen
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /cards/{cardId}/close:
    post:
      description: 'Close a Card via API '
      operationId: closeCard
      parameters:
      - description: ID of the card to close
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Close a Card
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /cards/{cardId}/freeze:
    post:
      description: 'Freeze a Card via API '
      operationId: freezeCard
      parameters:
      - description: ID of the card to freeze
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Freeze a Card
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /cards/{cardId}/unfreeze:
    post:
      description: 'Unfreeze a Card via API '
      operationId: unfreezeCard
      parameters:
      - description: ID of the card to unfreeze
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Unfreeze a Card
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /cards/{cardId}/limits:
    get:
      description: 'Get a Card Limits from API '
      operationId: getCardLimits
      parameters:
      - description: ID of the card to get
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardLimitsResponse'
          description: Successful Response
      summary: Get Card Limit by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /cards/{cardId}/replace:
    post:
      description: 'Replace a Card via API '
      operationId: replaceCard
      parameters:
      - description: ID of the card to replace
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ReplaceCardRequest'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Replace a Card
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /authorizations:
    get:
      description: 'Get List Authorizations from API '
      operationId: getAuthorizationsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getAuthorizationsList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_List_Authorizations_Response'
          description: Successful Response
      summary: Get List authorizations
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /authorizations/{authorizationId}:
    get:
      description: 'Get a Authorization from API '
      operationId: getAuthorization
      parameters:
      - description: ID of the authorization to get
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: includeNoneAuthorized
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Authorization_Response'
          description: Successful Response
      summary: Get Authorization by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /authorization-requests:
    get:
      description: 'Get List Authorization Requests from API '
      operationId: getAuthorizationRequestsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getAuthorizationRequestsList_filter_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_List_Authorization_Requests_Response'
          description: Successful Response
      summary: Get List Authorization Requests
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /authorization-requests/{authorizationId}:
    get:
      description: 'Get a Authorization Request from API '
      operationId: getAuthorizationRequest
      parameters:
      - description: ID of the authorization request to get
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Authorization_Requests_Response'
          description: Successful Response
      summary: Get Authorization Request by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /authorization-requests/{authorizationId}/approve:
    post:
      description: 'Approve a Authorization Request via API '
      operationId: approveAuthorizationRequest
      parameters:
      - description: ID of the authorization request to approve
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/Approve_Authorization_Request'
        description: Approve Authorization Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Authorization_Request_Response'
          description: Successful Response
      summary: Approve Authorization Request by Id
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /authorization-requests/{authorizationId}/decline:
    post:
      description: 'Decline Authorization Request via API '
      operationId: declineAuthorizationRequest
      parameters:
      - description: ID of the authorization request to decline
        explode: false
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/Decline_Authorization_Request'
        description: Decline Authorization Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Authorization_Request_Response'
          description: Successful Response
      summary: Decline Authorization Request
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /statements:
    get:
      description: 'Get List Statements from API '
      operationId: getStatementsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getStatementsList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Statements_Response'
          description: Successful Response
      summary: Get List Statements
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /statements/{statementId}/html:
    get:
      description: 'Get a HTML Statement from API '
      operationId: getStatementHtml
      parameters:
      - description: ID of the statement to get
        explode: false
        in: path
        name: statementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: Successful Response
      summary: Get HTML Statement by Id
      tags:
      - unit
      x-accepts:
      - text/html
  /statements/{statementId}/pdf:
    get:
      description: 'Get a PDF Statement from API '
      operationId: getStatementPdf
      parameters:
      - description: ID of the statement to get
        explode: false
        in: path
        name: statementId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: Successful Response
      summary: Get PDF Statement by Id
      tags:
      - unit
      x-accepts:
      - application/pdf
  /statements/{accountId}/bank/pdf:
    get:
      description: 'Get Get Bank verification PDF from API '
      operationId: getStatementBankPdf
      parameters:
      - description: ID of the account to get
        explode: false
        in: path
        name: accountId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: Successful Response
      summary: Get Bank verification PDF
      tags:
      - unit
      x-accepts:
      - application/pdf
  /rewards:
    get:
      description: 'Get Rewards List from API '
      operationId: getRewardsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getRewardsList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Rewards_List_Response'
          description: Successful Response
      summary: Get Rewards List
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Reward via API '
      operationId: createReward
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateRewardRequest'
        description: Create Reward Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Unit_Reward_Response'
          description: Successful Response
      summary: Create Reward
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /rewards/{rewardId}:
    get:
      description: 'Get a Reward from API '
      operationId: getReward
      parameters:
      - description: ID of the reward to get
        explode: false
        in: path
        name: rewardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Reward_Response'
          description: Successful Response
      summary: Get Reward by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /events:
    get:
      description: 'Get Events List from API '
      operationId: getEventsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getEventsList_filter_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Event_List_Response'
          description: Successful Response
      summary: Get Events List
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /events/{eventId}:
    get:
      description: 'Get an Event from API '
      operationId: getEvent
      parameters:
      - description: ID of the event to get
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Event_Response'
          description: Successful Response
      summary: Get Event by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: 'Fire an Event via API '
      operationId: fireEvent
      parameters:
      - description: ID of the event to fire
        explode: false
        in: path
        name: eventId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitEventResponse'
          description: Successful Response
      summary: Fire Event by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /institutions/{routingNumber}:
    get:
      description: 'Get an Institution from API '
      operationId: getInstitution
      parameters:
      - description: routingNumber of the institution to get
        explode: false
        in: path
        name: routingNumber
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Institution_Response'
          description: Successful Response
      summary: Get Institution by Routing Number
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /fees:
    post:
      description: 'Create a Fee via API '
      operationId: createFee
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateFeeRequest'
        description: Create Fee Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Unit_Fee_Response'
          description: Successful Response
      summary: Create Fee
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /fees/reverse:
    post:
      description: 'Reverse a Fee via API '
      operationId: reverseFee
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ReverseFeeRequest'
        description: Reverse Fee Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Unit_Fee_Reversal_Response'
          description: Successful Response
      summary: Reverse Fee
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /check-deposits:
    get:
      description: 'Get List Check Deposits from API '
      operationId: getCheckDepositsList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getCheckDepositsList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: include
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitListCheckDepositResponse'
          description: Successful Response
      summary: Get List Check Deposits
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Check Deposit via API '
      operationId: createCheckDeposit
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCheckDepositRequest'
        description: Create Check Deposit Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCheckDepositResponse'
          description: Successful Response
      summary: Create Check Deposit
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /check-deposits/{checkDepositId}:
    get:
      description: 'Get a Check Deposit from API '
      operationId: getCheckDeposit
      parameters:
      - description: ID of the check deposit to get
        explode: false
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCheckDepositResponse'
          description: Successful Response
      summary: Get Check Deposit by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Check Deposit via API '
      operationId: updateCheckDeposit
      parameters:
      - description: ID of the check deposit to update
        explode: false
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/UpdateCheckDepositRequest'
        description: Update Check Deposit Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCheckDepositResponse'
          description: Successful Response
      summary: Update Check Deposit
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /check-deposits/{checkDepositId}/confirm:
    post:
      description: 'Confirm a Check Deposit from API '
      operationId: confirmCheckDeposit
      parameters:
      - description: ID of the check deposit to confirm
        explode: false
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ConfirmCheckDepositRequest'
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCheckDepositResponse'
          description: Successful Response
      summary: Confirm by Id
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /check-deposits/{checkDepositId}/front:
    get:
      description: 'Get Front Check Deposit Image from API '
      operationId: getFrontCheckDeposit
      parameters:
      - description: ID of the check deposit to get
        explode: false
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Front_Check_Deposit_Response'
          description: Successful Response
      summary: Get Front Check Deposit Image by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /check-deposits/{checkDepositId}/back:
    get:
      description: 'Get Back Check Deposit Image from API '
      operationId: getBackCheckDeposit
      parameters:
      - description: ID of the check deposit to get
        explode: false
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Back_Check_Deposit_Response'
          description: Successful Response
      summary: Get Back Check Deposit Image by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /users/{userId}/api-tokens:
    get:
      description: 'Get List Org API Tokens from API '
      operationId: getApiTokensList
      parameters:
      - description: ID of the user to revoke token
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Org_Api_Tokens_List_Response'
          description: Successful Response
      summary: Get List Org API Tokens
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    post:
      description: 'Create an Org API Token via API '
      operationId: createApiToken
      parameters:
      - description: ID of the user to create token for
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateApiTokenRequest'
        description: Create Org API Token Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitApiTokenResponse'
          description: Successful Response
      summary: Create Org API Token
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /users/{userId}/api-tokens/{tokenId}:
    delete:
      description: 'Get a Reward from API '
      operationId: deleteToken
      parameters:
      - description: ID of the user to revoke token
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: ID of the token to revoke
        explode: false
        in: path
        name: tokenId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Api_Token_Response'
          description: Successful Response
      summary: Get Reward by Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /customers/{customerId}/token:
    post:
      description: 'Create a Customer Token via API '
      operationId: createCustomerToken
      parameters:
      - description: ID of the customer to create token for
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCustomerTokenRequest'
        description: Create Customer Token Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Customer_Token_Response'
          description: Successful Response
      summary: Create Customer Token
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /customers/{customerId}/token/verification:
    post:
      description: 'Create a Customer Token Verification via API '
      operationId: createCustomerTokenVerification
      parameters:
      - description: ID of the customer to create token for
        explode: false
        in: path
        name: customerId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CreateCustomerTokenVerificationRequest'
        description: Create Customer Token Verification Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Unit_Customer_Token_Verification_Response'
          description: Successful Response
      summary: Create Customer Token Verification
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json; charset=utf-8
  /webhooks:
    get:
      description: 'Get List Webhooks from API '
      operationId: getWebhooksList
      parameters:
      - explode: false
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/ListPageParameters'
        style: deepObject
      - allowReserved: true
        explode: false
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/getWebhooksList_filter_parameter'
        style: deepObject
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Unit_Webhooks_List_Response'
          description: Successful Response
      summary: Get List Webhooks
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json
    post:
      description: 'Create a Webhook via API '
      operationId: createWebhook
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/Create_Webhook_Request'
        description: Create Webhook Request Body
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitWebhookResponse'
          description: Successful Response
      summary: Create Webhook
      tags:
      - unit
      x-content-type: application/vnd.api+json
      x-accepts:
      - application/vnd.api+json
  /webhooks/{webhookId}:
    get:
      description: 'Get a Webhook from API '
      operationId: getWebhook
      parameters:
      - description: ID of the webhook to get
        explode: false
        in: path
        name: webhookId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitWebhookResponse'
          description: Successful Response
      summary: Get Webhook Id
      tags:
      - unit
      x-accepts:
      - application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Webhook via API '
      operationId: updateWebhook
      parameters:
      - description: ID of the Webhook to update
        explode: false
        in: path
        name: webhookId
[...]
