openapi: 3.0.2
info:
  description: An OpenAPI specifications for unit-sdk clients
  title: Unit OpenAPI specifications
  version: 0.0.3
servers:
- url: https://api.s.unit.sh
security:
- bearerAuth: []
paths:
  /applications/{applicationId}:
    get:
      description: 'Get an Application from API '
      operationId: execute
      parameters:
      - description: ID of the application to get
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - in: query
        name: included
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitApplicationResponseWithIncluded'
          description: Successful Response
      summary: Get Application by Id
      tags:
      - Get Application
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update an Application via API '
      operationId: execute
      parameters:
      - description: ID of the application to update
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_application'
        description: Update Application Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitApplicationResponseWithIncluded'
          description: Successful Response
      summary: Update Application
      tags:
      - Update Application
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/cancel:
    post:
      description: 'Cancel a Application via API '
      operationId: execute
      parameters:
      - description: ID of the application to get
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CancelApplicationRequest'
        description: Cancel Application Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCancelApplicationResponse'
          description: Successful Response
      summary: Cancel Application by Id
      tags:
      - Cancel Application
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /applications:
    get:
      description: 'Get List Applications from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter'
        style: deepObject
      - in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitListApplicationsResponse'
          description: Successful Response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitError'
          description: Unexpected error
      summary: Get List Application
      tags:
      - Get List Applications
      x-accepts: application/json
    post:
      description: 'Create an Application via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createApplication'
        description: Create Application Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCreateApplicationResponse'
          description: Successful Response
      summary: Create Application
      tags:
      - Create Application
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /application-forms:
    get:
      description: 'Get List Application Forms from API '
      operationId: execute
      parameters:
      - in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_1'
        style: deepObject
      - in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitApplicationFormsListResponse'
          description: Successful Response
      summary: Get List Application Forms
      tags:
      - Get List Application Forms
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create an Application Form via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createApplicationForm'
        description: Create Application Form Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitApplicationFormResponse'
          description: Successful Response
      summary: Create Application Form
      tags:
      - Create ApplicationForm
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /applications/{applicationId}/documents/{documentId}:
    put:
      description: 'Upload a PDF file via API '
      operationId: execute
      parameters:
      - description: ID of the application to upload a file to
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: ID of the document to upload a file for
        in: path
        name: documentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/pdf:
            schema:
              type: object
        description: Upload PDF File
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDocumentResponse'
          description: Successful Response
      summary: Upload a PDF document
      tags:
      - Upload a PDF Document for an Application
      x-content-type: application/pdf
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/:
    put:
      description: 'Upload a PNG file via API '
      operationId: execute
      parameters:
      - description: ID of the application to upload a file to
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: ID of the document to upload a file for
        in: path
        name: documentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          image/png:
            schema:
              type: object
        description: Upload PNG File
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDocumentResponse'
          description: Successful Response
      summary: Upload a PNG document
      tags:
      - Upload a PNG Document for an Application
      x-content-type: image/png
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/?:
    put:
      description: 'Upload a JPEG file via API '
      operationId: execute
      parameters:
      - description: ID of the application to upload a file to
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: ID of the document to upload a file for
        in: path
        name: documentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          image/jpeg:
            schema:
              type: object
        description: Upload JPEG File
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDocumentResponse'
          description: Successful Response
      summary: Upload a JPEG document
      tags:
      - Upload a JPEG Document for an Application
      x-content-type: image/jpeg
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/back:
    put:
      description: Upload a PDF file via API - Back Side
      operationId: execute
      parameters:
      - description: ID of the application to upload a file to
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: ID of the document to upload a file for
        in: path
        name: documentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/pdf:
            schema:
              type: object
        description: Upload PDF File - Back Side
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDocumentResponse'
          description: Successful Response
      summary: Upload a PDF document - Back Side
      tags:
      - Upload a PDF Document for an Application - Back Side
      x-content-type: application/pdf
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/back/:
    put:
      description: Upload a PNG file via API - Back Side
      operationId: execute
      parameters:
      - description: ID of the application to upload a file to
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: ID of the document to upload a file for
        in: path
        name: documentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          image/png:
            schema:
              type: object
        description: Upload PNG File - Back Side
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDocumentResponse'
          description: Successful Response
      summary: Upload a PNG document - Back Side
      tags:
      - Upload a PNG Document for an Application - Back Side
      x-content-type: image/png
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/back/?:
    put:
      description: Upload a JPEG file via API - Back Side
      operationId: execute
      parameters:
      - description: ID of the application to upload a file to
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: ID of the document to upload a file for
        in: path
        name: documentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          image/jpeg:
            schema:
              type: object
        description: Upload JPEG File - Back Side
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDocumentResponse'
          description: Successful Response
      summary: Upload a JPEG document - Back Side
      tags:
      - Upload a JPEG Document for an Application - Back Side
      x-content-type: image/jpeg
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents:
    get:
      description: 'Get List of Documents via API '
      operationId: execute
      parameters:
      - description: ID of the application to get documents for
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitListDocumentsResponse'
          description: Successful Response
      summary: Get List of Documents
      tags:
      - Get List of Documents
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a document via API '
      operationId: execute
      parameters:
      - description: ID of the application to create a file for
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitDocumentResponse'
          description: Successful Response
      summary: Create a document
      tags:
      - Create a Document for an Application
      x-accepts: application/vnd.api+json
  /applications/{applicationId}/documents/{documentId}/verify:
    put:
      description: 'Verify a document via API '
      operationId: execute
      parameters:
      - description: ID of the application to verify a file for
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: ID of the document to verify
        in: path
        name: documentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyDocument'
        description: Verify Document
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDocumentResponse'
          description: Successful Response
      summary: Verify a document
      tags:
      - Verify a Document for an Application
      x-content-type: application/json
      x-accepts: application/vnd.api+json; charset=utf-8
  /applications/{applicationId}/documents/{documentId}/download:
    get:
      description: 'Download a Document via API '
      operationId: execute
      parameters:
      - description: ID of the application
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: ID of the document to download
        in: path
        name: documentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Successful Response
      summary: Download a Document
      tags:
      - Download a Document
      x-accepts: application/octet-stream
  /applications/{applicationId}/documents/{documentId}/download/back:
    get:
      description: Download a Document - Back Side via API
      operationId: execute
      parameters:
      - description: ID of the application
        in: path
        name: applicationId
        required: true
        schema:
          type: string
      - description: ID of the document to download
        in: path
        name: documentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Successful Response
      summary: Download a Document - Back Side
      tags:
      - Download a Document - Back Side
      x-accepts: application/octet-stream
  /application-forms/{applicationFormId}:
    get:
      description: 'Get an Application Form from API '
      operationId: execute
      parameters:
      - description: ID of the application form to get
        in: path
        name: applicationFormId
        required: true
        schema:
          type: string
      - in: query
        name: included
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitApplicationFormResponseWithIncluded'
          description: Successful Response
      summary: Get ApplicationForm by Id
      tags:
      - Get Application Form
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts:
    get:
      description: 'Get List Accounts from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_2'
        style: deepObject
      - in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountsListResponse'
          description: Successful Response
        "401": {}
      summary: Get List Accounts
      tags:
      - Get List Accounts
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create Account via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createAccount'
        description: Create Account Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default: {}
      summary: Create Account
      tags:
      - Create Account
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}:
    get:
      description: 'Get an Account from API '
      operationId: execute
      parameters:
      - description: ID of the account to get
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponseWithIncluded'
          description: Successful Response
      summary: Get Account by Id
      tags:
      - Get Account
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update an Account via API '
      operationId: execute
      parameters:
      - description: ID of the account to update
        in: path
        name: accountId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/patch_account'
        description: Update Account Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default: {}
      summary: Update Account
      tags:
      - Update Account
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /accounts/{accountId}/limits:
    get:
      description: 'Get Account Limits from API '
      operationId: execute
      parameters:
      - description: ID of the account to get
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitGetAccountLimitsResponse'
          description: Successful Response
      summary: Get Account Limits by Id
      tags:
      - Get Account Limits
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/unfreeze:
    post:
      description: 'Unfreeze an Account via API '
      operationId: execute
      parameters:
      - description: ID of the account to get
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default: {}
      summary: Unfreeze Account by Id
      tags:
      - Unfreeze Account
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/freeze:
    post:
      description: 'Freeze Account via API '
      operationId: execute
      parameters:
      - description: ID of the account to freeze
        in: path
        name: accountId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/FreezeAccountRequest'
        description: Freeze Account Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default: {}
      summary: Freeze Account by Id
      tags:
      - Freeze an Account
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/close:
    post:
      description: 'Close an Account via API '
      operationId: execute
      parameters:
      - description: ID of the account to close
        in: path
        name: accountId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CloseAccountRequest'
        description: Close Account Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default: {}
      summary: Close an Account by Id
      tags:
      - Close an Account
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/reopen:
    post:
      description: 'Reopen an Account via API '
      operationId: execute
      parameters:
      - description: ID of the account to close
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default: {}
      summary: Reopen an Account by Id
      tags:
      - Reopen an Account
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/enter-daca:
    post:
      description: 'Enter Control Agreement for Account via API '
      operationId: execute
      parameters:
      - description: ID of the account
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default: {}
      summary: Enter Account Control Agreement by Id
      tags:
      - Enter Control Agreement for Account
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/activate-daca:
    post:
      description: 'Activate Control Agreement for Account via API '
      operationId: execute
      parameters:
      - description: ID of the account
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        default: {}
      summary: Activate Account Control Agreement by Id
      tags:
      - Activate Control Agreement for Account
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/deactivate-daca:
    post:
      description: Deactivate Control Agreement for Account via API
      operationId: execute
      parameters:
      - description: ID of the account
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAccountResponse'
          description: Successful Response
        "404": {}
      summary: Deactivate Account Control Agreement by Id
      tags:
      - Deactivate Control Agreement for Account
      x-accepts: application/vnd.api+json; charset=utf-8
  /account-end-of-day:
    get:
      description: 'Get AccountEndOfDay List from API '
      operationId: execute
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitGetAccountEndOfDayListResponse'
          description: Successful Response
        default: {}
      summary: Get AccountEndOfDay List
      tags:
      - Get list account end-of-day balances history
      x-accepts: application/vnd.api+json; charset=utf-8
  /customers/{customerId}:
    get:
      description: 'Get a Customer from API '
      operationId: execute
      parameters:
      - description: ID of the customer to get
        in: path
        name: customerId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCustomerResponse'
          description: Successful Response
      summary: Get Customer by Id
      tags:
      - Get Customer
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update an Customer via API '
      operationId: execute
      parameters:
      - description: ID of the customer to update
        in: path
        name: customerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_customer'
        description: Update Customer Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCustomerResponse'
          description: Successful Response
      summary: Update Customer
      tags:
      - Update Customer
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /customers:
    get:
      description: 'Get Customers List from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_3'
        style: deepObject
      - in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCustomersListResponse'
          description: Successful Response
      summary: Get Customers List
      tags:
      - Get List Customers
      x-accepts: application/vnd.api+json; charset=utf-8
  /customers/{customerId}/archive:
    post:
      description: 'Archive a Customer via API '
      operationId: execute
      parameters:
      - description: ID of the customer to archive
        in: path
        name: customerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ArchiveCustomerRequest'
        description: Archive Customer Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCustomerResponse'
          description: Successful Response
      summary: Archive Customer by Id
      tags:
      - Archive Customer
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /payments:
    get:
      description: 'Get List Payments from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_4'
        style: deepObject
      - in: query
        name: include
        schema:
          type: string
      - in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitPaymentsListResponse'
          description: Successful Response
      summary: Get List Payments
      tags:
      - Get List Payments
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Payment via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createPayment'
        description: Create Payment Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitPaymentResponse'
          description: Successful Response
      summary: Create a Payment
      tags:
      - Create a Payment
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /payments/{paymentId}:
    get:
      description: 'Get a Payment from API '
      operationId: execute
      parameters:
      - description: ID of the payment to get
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      - in: query
        name: included
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitPaymentResponseWithIncluded'
          description: Successful Response
      summary: Get Payment by Id
      tags:
      - Get Payment
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update an Payment via API '
      operationId: execute
      parameters:
      - description: ID of the payment to update
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_payment'
        description: Update Payment Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitPaymentResponse'
          description: Successful Response
      summary: Update Payment
      tags:
      - Update Payment
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /payments/{paymentId}/cancel:
    post:
      description: 'Cancel a Payment via API '
      operationId: execute
      parameters:
      - description: ID of the payment to cancel
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitPaymentResponse'
          description: Successful Response
      summary: Cancel a Payment by Id
      tags:
      - Cancel Payment
      x-accepts: application/vnd.api+json; charset=utf-8
  /received-payments:
    get:
      description: 'Get Received Payments from API '
      operationId: execute
      parameters:
      - in: query
        name: included
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitReceivedPaymentListResponse'
          description: Successful Response
      summary: Get Received Payments List
      tags:
      - Get Received Payments List
      x-accepts: application/vnd.api+json; charset=utf-8
  /received-payments/{paymentId}:
    get:
      description: 'Get a Received Payment from API '
      operationId: execute
      parameters:
      - description: ID of the payment to get
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      - in: query
        name: included
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitReceivedPaymentResponseWithIncluded'
          description: Successful Response
      summary: Get Received Payment by Id
      tags:
      - Get Received Payment
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Received Payment via API '
      operationId: execute
      parameters:
      - description: ID of the payment to update
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_received_payment'
        description: Update Received Payment Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitReceivedPaymentResponse'
          description: Successful Response
      summary: Update Received Payment
      tags:
      - Update Received Payment
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /received-payments/{paymentId}/advance:
    post:
      description: 'Advance a Received Payment via API '
      operationId: execute
      parameters:
      - description: ID of the payment to advance
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitReceivedPaymentResponse'
          description: Successful Response
      summary: Advance Received Payment by Id
      tags:
      - Advance Received Payment
      x-accepts: application/vnd.api+json; charset=utf-8
  /counterparties:
    get:
      description: 'Get Counterparties List from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_5'
        style: deepObject
      - in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCounterpartiesListResponse'
          description: Successful Response
      summary: Get Counterparties List
      tags:
      - Get List Counterparties
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a counterparty via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createCounterparty'
        description: Create Counterparty Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCounterpartyResponse'
          description: Successful Response
      summary: Create Counterparty
      tags:
      - Create Counterparty
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /counterparties/{counterpartyId}:
    delete:
      description: 'Delete Counterparty via API '
      operationId: execute
      parameters:
      - description: ID of the counterparty to delete
        in: path
        name: counterpartyId
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Successful Response
      summary: Delete Counterparty by Id
      tags:
      - Delete Counterparty
      x-accepts: application/json
    get:
      description: 'Get a Counterparty from API '
      operationId: execute
      parameters:
      - description: ID of the counterparty to get
        in: path
        name: counterpartyId
        required: true
        schema:
          type: string
      - in: query
        name: included
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCounterpartyResponse'
          description: Successful Response
      summary: Get Counterparty by Id
      tags:
      - Get Counterparty
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Counterparty via API '
      operationId: execute
      parameters:
      - description: ID of the counterparty to update
        in: path
        name: counterpartyId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_counterparty'
        description: Update Counterparty Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCounterpartyResponse'
          description: Successful Response
      summary: Update Counterparty
      tags:
      - Update Counterparty
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /counterparties/{counterpartyId}/balance:
    get:
      description: 'Get Recurring Payment from API '
      operationId: execute
      parameters:
      - description: ID of the counterparty to get
        in: path
        name: counterpartyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCounterpartyResponse_1'
          description: Successful Response
      summary: Get Counterparty Balance
      tags:
      - Get Counterparty Balance
      x-accepts: application/vnd.api+json; charset=utf-8
  /recurring-payments:
    get:
      description: 'Get Recurring Payments List from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_6'
        style: deepObject
      - in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRecurringPaymentListResponse'
          description: Successful Response
      summary: Get Recurring Payments List
      tags:
      - Get List Recurring Payments
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Recurring Payment via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createRecurringPayment'
        description: Create Recurring Payment Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitRecurringPaymentResponse'
          description: Successful Response
      summary: Create Recurring Payment
      tags:
      - Create Recurring Payment
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /recurring-payments/{paymentId}:
    get:
      description: 'Get Recurring Payment from API '
      operationId: execute
      parameters:
      - description: ID of the payment to get
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRecurringPaymentResponse'
          description: Successful Response
      summary: Get Recurring Payment
      tags:
      - Get Recurring Payment
      x-accepts: application/vnd.api+json; charset=utf-8
  /recurring-payments/{paymentId}/disable:
    post:
      description: 'Disable Recurring Payment via API '
      operationId: execute
      parameters:
      - description: ID of the payment to disable
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRecurringPaymentResponse'
          description: Successful Response
      summary: Disable Recurring Payment
      tags:
      - Disable Recurring Payment
      x-accepts: application/vnd.api+json; charset=utf-8
  /recurring-payments/{paymentId}/enable:
    post:
      description: 'Enable Recurring Payment via API '
      operationId: execute
      parameters:
      - description: ID of the payment to enable
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRecurringPaymentResponse'
          description: Successful Response
      summary: Enable Recurring Payment
      tags:
      - Enable Recurring Payment
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards:
    get:
      description: 'Get List of Cards from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_7'
        style: deepObject
      - in: query
        name: include
        schema:
          type: string
      - in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponseCardsList'
          description: Successful Response
      summary: Get List of Cards
      tags:
      - Get List of Cards
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Card via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createCard'
        description: Create Card Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Create a Card
      tags:
      - Create a Card
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}:
    get:
      description: 'Get a Card from API '
      operationId: execute
      parameters:
      - description: ID of the card to get
        in: path
        name: cardId
        required: true
        schema:
          type: string
      - in: query
        name: included
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse_1'
          description: Successful Response
      summary: Get Card by Id
      tags:
      - Get Card
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Card via API '
      operationId: execute
      parameters:
      - description: ID of the card to update
        in: path
        name: cardId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_card'
        description: Update Card Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Update Card
      tags:
      - Update Card
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /cards/{cardId}/secure-data/pin/status:
    get:
      description: 'Get Card PIN Status via API '
      operationId: execute
      parameters:
      - description: ID of the card to get PIN status
        in: path
        name: cardId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse_2'
          description: Successful Response
      summary: Get Card PIN Status
      tags:
      - Get Card PIN Status
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}/report-stolen:
    post:
      description: 'Report card as stolen via API '
      operationId: execute
      parameters:
      - description: ID of the card
        in: path
        name: cardId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Report card as stolen
      tags:
      - Report Card as Stolen
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}/report-lost:
    post:
      description: 'Report lost as stolen via API '
      operationId: execute
      parameters:
      - description: ID of the card
        in: path
        name: cardId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Report lost as stolen
      tags:
      - Report Card as Lost
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}/close:
    post:
      description: 'Close a Card via API '
      operationId: execute
      parameters:
      - description: ID of the card to close
        in: path
        name: cardId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Close a Card
      tags:
      - Close a Card
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}/freeze:
    post:
      description: 'Freeze a Card via API '
      operationId: execute
      parameters:
      - description: ID of the card to freeze
        in: path
        name: cardId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Freeze a Card
      tags:
      - Freeze a Card
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}/unfreeze:
    post:
      description: 'Unfreeze a Card via API '
      operationId: execute
      parameters:
      - description: ID of the card to unfreeze
        in: path
        name: cardId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse'
          description: Successful Response
      summary: Unfreeze a Card
      tags:
      - Unfreeze a Card
      x-accepts: application/vnd.api+json; charset=utf-8
  /cards/{cardId}/limits:
    get:
      description: 'Get a Card Limits from API '
      operationId: execute
      parameters:
      - description: ID of the card to get
        in: path
        name: cardId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCardResponse_3'
          description: Successful Response
      summary: Get Card Limit by Id
      tags:
      - Get Card Limits
      x-accepts: application/vnd.api+json; charset=utf-8
  /authorizations:
    get:
      description: 'Get List Authorizations from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_8'
        style: deepObject
      - in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitListAuthorizationsResponse'
          description: Successful Response
      summary: Get List authorizations
      tags:
      - Get List Authorizations
      x-accepts: application/vnd.api+json; charset=utf-8
  /authorizations/{authorizationId}:
    get:
      description: 'Get a Authorization from API '
      operationId: execute
      parameters:
      - description: ID of the authorization to get
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
      - in: query
        name: includeNoneAuthorized
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAuthorizationResponse'
          description: Successful Response
      summary: Get Authorization by Id
      tags:
      - Get Authorization
      x-accepts: application/vnd.api+json; charset=utf-8
  /authorization-requests:
    get:
      description: 'Get List Authorization Requests from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_9'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitListAuthorizationRequestsResponse'
          description: Successful Response
      summary: Get List Authorization Requests
      tags:
      - Get List Authorization Requests
      x-accepts: application/vnd.api+json; charset=utf-8
  /authorization-requests/{authorizationId}:
    get:
      description: 'Get a Authorization Request from API '
      operationId: execute
      parameters:
      - description: ID of the authorization request to get
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAuthorizationRequestsResponse'
          description: Successful Response
      summary: Get Authorization Request by Id
      tags:
      - Get Authorization Request
      x-accepts: application/vnd.api+json; charset=utf-8
  /authorization-requests/{authorizationId}/approve:
    post:
      description: 'Approve a Authorization Request via API '
      operationId: execute
      parameters:
      - description: ID of the authorization request to approve
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ApproveAuthorizationRequest'
        description: Approve Authorization Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAuthorizationRequestResponse'
          description: Successful Response
      summary: Approve Authorization Request by Id
      tags:
      - Approve Authorization Request
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /authorization-requests/{authorizationId}/decline:
    post:
      description: 'Decline Authorization Request via API '
      operationId: execute
      parameters:
      - description: ID of the authorization request to decline
        in: path
        name: authorizationId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DeclineAuthorizationRequest'
        description: Decline Authorization Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitAuthorizationRequestResponse'
          description: Successful Response
      summary: Decline Authorization Request
      tags:
      - Decline Authorization Request
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /statements:
    get:
      description: 'Get List Statements from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_10'
        style: deepObject
      - in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitStatementsResponse'
          description: Successful Response
      summary: Get List Statements
      tags:
      - Get List Statements
      x-accepts: application/vnd.api+json; charset=utf-8
  /statements/{statementId}/html:
    get:
      description: 'Get a HTML Statement from API '
      operationId: execute
      parameters:
      - description: ID of the statement to get
        in: path
        name: statementId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: Successful Response
      summary: Get HTML Statement by Id
      tags:
      - Get Statement HTML
      x-accepts: text/html
  /statements/{statementId}/pdf:
    get:
      description: 'Get a PDF Statement from API '
      operationId: execute
      parameters:
      - description: ID of the statement to get
        in: path
        name: statementId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: Successful Response
      summary: Get PDF Statement by Id
      tags:
      - Get Statement PDF
      x-accepts: application/pdf
  /statements/{accountId}/bank/pdf:
    get:
      description: 'Get Get Bank verification PDF from API '
      operationId: execute
      parameters:
      - description: ID of the account to get
        in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
          description: Successful Response
      summary: Get Bank verification PDF
      tags:
      - Get Bank verification PDF
      x-accepts: application/pdf
  /rewards:
    get:
      description: 'Get Rewards List from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_11'
        style: deepObject
      - in: query
        name: sort
        schema:
          type: string
      - in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRewardsListResponse'
          description: Successful Response
      summary: Get Rewards List
      tags:
      - Get List Rewards
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Reward via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createReward'
        description: Create Reward Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitRewardResponse'
          description: Successful Response
      summary: Create Reward
      tags:
      - Create Reward
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /rewards/{rewardId}:
    get:
      description: 'Get a Reward from API '
      operationId: execute
      parameters:
      - description: ID of the reward to get
        in: path
        name: rewardId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRewardResponse'
          description: Successful Response
      summary: Get Reward by Id
      tags:
      - Get Reward
      x-accepts: application/vnd.api+json; charset=utf-8
  /events:
    get:
      description: 'Get Events List from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_12'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitEventListResponse'
          description: Successful Response
      summary: Get Events List
      tags:
      - Get List Events
      x-accepts: application/vnd.api+json; charset=utf-8
  /events/{eventId}:
    get:
      description: 'Get an Event from API '
      operationId: execute
      parameters:
      - description: ID of the event to get
        in: path
        name: eventId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitEventResponse_1'
          description: Successful Response
      summary: Get Event by Id
      tags:
      - Get Event
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Fire an Event via API '
      operationId: execute
      parameters:
      - description: ID of the event to fire
        in: path
        name: eventId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitEventResponse'
          description: Successful Response
      summary: Fire Event by Id
      tags:
      - Fire Event
      x-accepts: application/vnd.api+json; charset=utf-8
  /institutions/{routingNumber}:
    get:
      description: 'Get an Institution from API '
      operationId: execute
      parameters:
      - description: routingNumber of the institution to get
        in: path
        name: routingNumber
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitInstitutionResponse'
          description: Successful Response
      summary: Get Institution by Routing Number
      tags:
      - Get Institution
      x-accepts: application/vnd.api+json; charset=utf-8
  /fees:
    post:
      description: 'Create a Fee via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createFee'
        description: Create Fee Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitFeeResponse'
          description: Successful Response
      summary: Create Fee
      tags:
      - Create Fee
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /check-deposits:
    get:
      description: 'Get List Check Deposits from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_13'
        style: deepObject
      - in: query
        name: sort
        schema:
          type: string
      - in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitListCheckDepositsResponse'
          description: Successful Response
      summary: Get List Check Deposits
      tags:
      - Get List Check Deposits
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Check Deposit via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createCheckDeposit'
        description: Create Check Deposit Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCheckDepositResponse'
          description: Successful Response
      summary: Create Check Deposit
      tags:
      - Create Check Deposit
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /check-deposits/{checkDepositId}:
    get:
      description: 'Get a Check Deposit from API '
      operationId: execute
      parameters:
      - description: ID of the check deposit to get
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCheckDepositResponse'
          description: Successful Response
      summary: Get Check Deposit by Id
      tags:
      - Get Check Deposit
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Check Deposit via API '
      operationId: execute
      parameters:
      - description: ID of the check deposit to update
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_check_deposit'
        description: Update Check Deposit Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCheckDepositResponse'
          description: Successful Response
      summary: Update Check Deposit
      tags:
      - Update Check Deposit
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /check-deposits/{checkDepositId}/confirm:
    post:
      description: 'Confirm a Check Deposit from API '
      operationId: execute
      parameters:
      - description: ID of the check deposit to confirm
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCheckDepositResponse'
          description: Successful Response
      summary: Confirm by Id
      tags:
      - Confirm Check Deposit
      x-accepts: application/vnd.api+json; charset=utf-8
  /check-deposits/{checkDepositId}/front:
    get:
      description: 'Get Front Check Deposit Image from API '
      operationId: execute
      parameters:
      - description: ID of the check deposit to get
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCheckDepositResponse_1'
          description: Successful Response
      summary: Get Front Check Deposit Image by Id
      tags:
      - Get Check Deposit Front Image
      x-accepts: application/vnd.api+json; charset=utf-8
  /check-deposits/{checkDepositId}/back:
    get:
      description: 'Get Back Check Deposit Image from API '
      operationId: execute
      parameters:
      - description: ID of the check deposit to get
        in: path
        name: checkDepositId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCheckDepositResponse_1'
          description: Successful Response
      summary: Get Back Check Deposit Image by Id
      tags:
      - Get Check Deposit Back Image
      x-accepts: application/vnd.api+json; charset=utf-8
  /users/{userId}/api-tokens:
    get:
      description: 'Get List Org API Tokens from API '
      operationId: execute
      parameters:
      - description: ID of the user to revoke token
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitOrgApiTokensListResponse'
          description: Successful Response
      summary: Get List Org API Tokens
      tags:
      - Get List Org API Tokens
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create an Org API Token via API '
      operationId: execute
      parameters:
      - description: ID of the user to create token for
        in: path
        name: userId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createApiToken'
        description: Create Org API Token Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitApiTokenResponse'
          description: Successful Response
      summary: Create Org API Token
      tags:
      - Create Org Api Token
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /users/{userId}/api-tokens/{tokenId}:
    delete:
      description: 'Get a Reward from API '
      operationId: execute
      parameters:
      - description: ID of the user to revoke token
        in: path
        name: userId
        required: true
        schema:
          type: string
      - description: ID of the token to revoke
        in: path
        name: tokenId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitApiTokenResponse'
          description: Successful Response
      summary: Get Reward by Id
      tags:
      - Revoke Org API Token
      x-accepts: application/vnd.api+json; charset=utf-8
  /customers/{customerId}/token:
    post:
      description: 'Create a Customer Token via API '
      operationId: execute
      parameters:
      - description: ID of the customer to create token for
        in: path
        name: customerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createCustomerToken'
        description: Create Customer Token Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCustomerTokenResponse'
          description: Successful Response
      summary: Create Customer Token
      tags:
      - Create Customer Token
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /customers/{customerId}/token/verification:
    post:
      description: 'Create a Customer Token Verification via API '
      operationId: execute
      parameters:
      - description: ID of the customer to create token for
        in: path
        name: customerId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createCustomerTokenVerification'
        description: Create Customer Token Verification Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCustomerTokenVerificationResponse'
          description: Successful Response
      summary: Create Customer Token Verification
      tags:
      - Create Customer Token Verification
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /webhooks:
    get:
      description: 'Get List Webhooks from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_14'
        style: deepObject
      - in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitWebhooksListResponse'
          description: Successful Response
      summary: Get List Webhooks
      tags:
      - Get List Webhooks
      x-accepts: application/vnd.api+json
    post:
      description: 'Create a Webhook via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createWebhook'
        description: Create Webhook Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitWebhookResponse'
          description: Successful Response
      summary: Create Webhook
      tags:
      - Create Webhook
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /webhooks/{webhookId}:
    get:
      description: 'Get a Webhook from API '
      operationId: execute
      parameters:
      - description: ID of the webhook to get
        in: path
        name: webhookId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitWebhookResponse'
          description: Successful Response
      summary: Get Webhook Id
      tags:
      - Get Webhook
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Webhook via API '
      operationId: execute
      parameters:
      - description: ID of the Webhook to update
        in: path
        name: webhookId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/updateUnitRequest'
        description: Update Webhook Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitWebhookResponse'
          description: Successful Response
      summary: Update Webhook
      tags:
      - Update Webhook
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /webhooks/{webhookId}/enable:
    post:
      description: 'Enable a Webhook via API '
      operationId: execute
      parameters:
      - description: ID of the webhook to enable
        in: path
        name: webhookId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitWebhookResponse'
          description: Successful Response
      summary: Enable Webhook
      tags:
      - Enable Webhook
      x-accepts: application/vnd.api+json; charset=utf-8
  /webhooks/{webhookId}/disable:
    post:
      description: 'Disable a Webhook via API '
      operationId: execute
      parameters:
      - description: ID of the webhook to disable
        in: path
        name: webhookId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitWebhookResponse'
          description: Successful Response
      summary: Disable a Webhook
      tags:
      - Disable Webhook
      x-accepts: application/vnd.api+json; charset=utf-8
  /atm-locations:
    get:
      description: 'Get List ATM Locations from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_15'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/atm_location'
                title: UnitAtmLocationsListResponse
                type: array
          description: Successful Response
      summary: Get List ATM Locations
      tags:
      - Get ATM Locations List
      x-accepts: application/vnd.api+json; charset=utf-8
  /accounts/{accountId}/transactions/{transactionId}:
    get:
      description: 'Get a Transaction from API '
      operationId: execute
      parameters:
      - description: ID of the account to get transaction from
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: ID of the transaction
        in: path
        name: transactionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitTransactionResponse'
          description: Successful Response
      summary: Get Transaction by Id
      tags:
      - Get Transaction
      x-accepts: application/vnd.api+json; charset=utf-8
    patch:
      description: 'Update a Transaction via API '
      operationId: execute
      parameters:
      - description: ID of the account to update transaction from
        in: path
        name: accountId
        required: true
        schema:
          type: string
      - description: ID of the transaction to update
        in: path
        name: transactionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/update_transaction'
        description: Update Transaction Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitTransactionResponse_1'
          description: Successful Response
      summary: Update Transaction
      tags:
      - Update Transaction
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /transactions:
    get:
      description: 'Get List Transactions from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_16'
        style: deepObject
      - in: query
        name: sort
        schema:
          type: string
      - in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitTransactionsListResponse'
          description: Successful Response
      summary: Get List Transactions
      tags:
      - Get List Transactions
      x-accepts: application/vnd.api+json
  /disputes:
    get:
      description: 'Get List Disputes from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_17'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                items:
                  $ref: '#/components/schemas/dispute'
                title: UnitDisputesListResponse
                type: array
          description: Successful Response
      summary: Get List Disputes
      tags:
      - Get List Disputes
      x-accepts: application/vnd.api+json; charset=utf-8
  /disputes/{disputeId}:
    get:
      description: 'Get a Dispute from API '
      operationId: execute
      parameters:
      - description: ID of the dispute to get
        in: path
        name: disputeId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitDisputeResponse'
          description: Successful Response
      summary: Get Dispute by Id
      tags:
      - Get Dispute
      x-accepts: application/vnd.api+json; charset=utf-8
  /repayments:
    get:
      description: 'Get List Repayments from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - allowReserved: true
        in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_18'
        style: deepObject
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRepaymentsListResponse'
          description: Successful Response
        "401": {}
      summary: Get List Repayments
      tags:
      - Get List Repayments
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create a Repayment via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createRepayment'
        description: Create a Repayment Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRepaymentResponse'
          description: Successful Response
        default: {}
      summary: Create a Repayment
      tags:
      - Create a Repayment
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /repayments/{repaymentId}:
    get:
      description: 'Get an Repayment from API '
      operationId: execute
      parameters:
      - description: ID of the repayment to get
        in: path
        name: repaymentId
        required: true
        schema:
          type: string
      - in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitRepaymentResponse'
          description: Successful Response
      summary: Get Repayment by Id
      tags:
      - Get Repayment
      x-accepts: application/vnd.api+json; charset=utf-8
  /check-payments:
    get:
      description: 'Get List Check Payments from API '
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_19'
      - in: query
        name: sort
        schema:
          type: string
      - in: query
        name: include
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitListCheckPaymentsResponse'
          description: Successful Response
      summary: Get List Check Payments
      tags:
      - Get List Check Payments
      x-accepts: application/vnd.api+json; charset=utf-8
    post:
      description: 'Create Check Payment via API '
      operationId: execute
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createCheckPayment'
        description: Create Check Payment Request
        required: true
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UnitCheckPaymentResponse'
          description: Successful Response
      summary: Create Check Payment
      tags:
      - Create Check Payment
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json
  /check-payments/{checkPaymentId}:
    get:
      description: 'Get a Check Payment from API '
      operationId: execute
      parameters:
      - description: ID of the check payment to get
        in: path
        name: checkPaymentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCheckPaymentResponse'
          description: Successful Response
      summary: Get Check Payment by Id
      tags:
      - Get Check Payment
      x-accepts: application/vnd.api+json; charset=utf-8
  /check-payments/{checkPaymentId}/approve:
    post:
      description: 'Approve a Check Payment via API '
      operationId: execute
      parameters:
      - description: ID of the check payment to approve
        in: path
        name: checkPaymentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ApproveCheckPaymentRequest'
        description: Approve Check Payment Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCheckPaymentResponse'
          description: Successful Response
      summary: Approve Check Payment by Id
      tags:
      - Approve Check Payment
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /check-payments/{checkPaymentId}/cancel:
    post:
      description: 'Cancel a Check Payment via API '
      operationId: execute
      parameters:
      - description: ID of the check payment to cancel
        in: path
        name: checkPaymentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCheckPaymentResponse'
          description: Successful Response
      summary: Cancel Check Payment by Id
      tags:
      - Cancel Check Payment
      x-accepts: application/vnd.api+json; charset=utf-8
  /check-payments/{checkPaymentId}/return:
    post:
      description: 'Return a Check Payment via API '
      operationId: execute
      parameters:
      - description: ID of the check payment to return
        in: path
        name: checkPaymentId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ReturnCheckPaymentRequest'
        description: Return Check Payment Request
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/UnitCheckPaymentResponse'
          description: Successful Response
      summary: Return Check Payment by Id
      tags:
      - Return Check Payment
      x-content-type: application/vnd.api+json
      x-accepts: application/vnd.api+json; charset=utf-8
  /check-payments/{checkPaymentId}/front:
    get:
      description: 'Get front image via API '
      operationId: execute
      parameters:
      - description: ID of the check payment
        in: path
        name: checkPaymentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: Successful Response
      summary: Get front image
      tags:
      - Get a front image
      x-accepts: image/png
  /check-payments/{checkPaymentId}/back:
    get:
      description: 'Get back image via API '
      operationId: execute
      parameters:
      - description: ID of the check payment
        in: path
        name: checkPaymentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: Successful Response
      summary: Get back image
      tags:
      - Get a back image
      x-accepts: image/png
  /stop-payments:
    get:
      operationId: execute
      parameters:
      - allowReserved: true
        in: query
        name: page
        schema:
          $ref: '#/components/schemas/listPageParametersObject'
        style: deepObject
      - in: query
        name: filter
        schema:
          $ref: '#/components/schemas/execute_filter_parameter_20'
      - in: query
        name: sort
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPaymentListResponse'
          description: OK
      summary: Get a list of stop payments
      x-accepts: application/json
    post:
      operationId: execute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createStopPayment'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPaymentResponse'
          description: OK
      summary: Create Stop Payment
      x-content-type: application/json
      x-accepts: application/json
  /stop-payments/{stop_payment_id}:
    delete:
      operationId: execute
      parameters:
      - description: ID of the stop payment
        in: path
        name: stop_payment_id
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Stop payment successfully canceled
        "404":
          description: Stop payment not found
      summary: Cancel a stop payment
      x-accepts: application/json
    get:
      operationId: execute
      parameters:
      - description: ID of the stop payment
        in: path
        name: stop_payment_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPaymentResponse'
          description: OK
        "404":
          description: Stop payment not found
      summary: Get details of a specific stop payment
      x-accepts: application/json
  /stop-payments/{stop_payment_id}/disable:
    post:
      operationId: execute
      parameters:
      - description: ID of the stop payment
        in: path
        name: stop_payment_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopPaymentResponse'
          description: OK
        "404":
          description: Stop payment not found
      summary: Disable a stop payment
      x-accepts: application/json
components:
  responses:
    unitError: {}
  schemas:
    UnitApplicationResponseWithIncluded:
      properties:
        data:
          $ref: '#/components/schemas/application'
        included:
          items:
            $ref: '#/components/schemas/IncludedResource_inner'
          type: array
      title: UnitApplicationResponseWithIncluded
      type: object
    update_application:
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/update_application_data'
      required:
      - data
      title: Patch Application
      type: object
    patchBusinessApplication:
      additionalProperties: false
      properties:
        type:
          default: businessApplication
          type: string
        attributes:
          $ref: '#/components/schemas/patchBusinessApplication_attributes'
      required:
      - attributes
      - type
      title: Patch Business Application
      type: object
    patchBusinessApplicationOfficer:
      additionalProperties: false
      properties:
        type:
          default: businessApplication
          type: string
        attributes:
          $ref: '#/components/schemas/patchBusinessApplicationOfficer_attributes'
      required:
      - attributes
      - type
      title: Patch Business Application
      type: object
    patchBusinessApplicationBeneficialOwner:
      additionalProperties: false
      properties:
        type:
          default: beneficialOwner
          type: string
        attributes:
          $ref: '#/components/schemas/patchBusinessApplicationBeneficialOwner_attributes'
      required:
      - attributes
      - type
      title: Patch Business Application
      type: object
    patchSoleProprietorApplication:
      additionalProperties: false
      properties:
        type:
          default: individualApplication
          type: string
        attributes:
          $ref: '#/components/schemas/patchSoleProprietorApplication_attributes'
      required:
      - attributes
      - type
      title: Patch Individual Application
      type: object
[...]
